<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my_board.category.mapper.CategoryMapper">

    <resultMap id="CategoryParentResultMap" type="GetCategoryParentResponse">
        <result property="parentName" column="cp_name"/>
        <result property="parentId" column="cp_id"/>
        <collection property="childNames" ofType="GetCategoryChildResponse">
            <id property="id" column="cc_id"/>
            <result property="name" column="cc_name"/>
        </collection>
    </resultMap>

    
    <select id="getCategory" resultMap="CategoryParentResultMap">
        select cp.id AS cp_id,
        cp.name AS cp_name,
        cc.id AS cc_id,
        cc.name AS cc_name
        from category_parent cp join category_child cc
        on cp.id = cc.category_parent_id
        order by cp.sort_order, cc.sort_order
    </select>

    <select id="getBlogUrl" resultType="GetBlogUrlResponse">
        select blog_url
        from category_child cc
        where cc.name = #{name}
    </select>

</mapper>